<style> 
  ul.token-input-list-facebook {position: relative; top: -29px;} 
  div#cboxLoadedContent {margin-bottom:0px;}
</style>
<%= form_for [:admin,@material], html: {class: 'form-horizontal' } do |f| %> 
  <div class="control-group">
    <label class="control-label">游戏名</label>
    <div class="controls">
      <%= f.text_field :name, required: true, class: "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">描述介绍:</label>
    <div class="controls">
      <%= f.text_area :description, style:"width:800px;height:100px" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">类别选择</label>
    <div class="controls">
      <%= f.select :category_id, ::Category.all.collect {|p| [ p.name, p.id ] } %>
    </div>
  </div>

  <% if action_name == "edit" && @material.category.material_type == 1 %>

        <% questions = @material.questions %>
        <div class="control-group">
          <label class="control-label">问题 <%= link_to '添加问题', [:new,:admin,@material,:question], id: :add_obj, class: "btn btn-mini btn-success", remote: true %></label>

          <% questions.each do |q| %>
          <div class="controls well" style="padding-top:6px">
            <%= q.question_title %>
            <hr style="margin: 0">
            <% qas = q.question_answers %>
            <% unless qas.blank? %>
                <ul>
                  <% qas.each do |qa| %>
                      <li>
                        <%= qa.answer %> | <%= qa.answer_score %> | <%= link_to '编辑问题答案', [:edit,:admin,qa], id: :add_obj, class: "btn btn-mini btn-success", remote: true %>
                        | <%= link_to '删除', [:admin,qa], method: :delete, class: "btn btn-mini btn-success", confirm: "Are you sure to delete this?" %>
                      </li>
                  <% end %>
                </ul>
            <% end %>


            <%= link_to '编辑问题', [:edit,:admin,q], id: :add_obj, class: "btn btn-mini btn-success", remote: true %>
            <%= link_to '添加问题答案', [:new,:admin,q,:question_answer], id: :add_obj, class: "btn btn-mini btn-success", remote: true %> |
            <%= link_to "Delete", admin_question_path(q), method: :delete, confirm: "Are you sure to delete this?", class: "btn btn-mini btn-success" %>
          </div>
          <% end %>
        </div>


  <% end %>

  <% if action_name == 'edit' %>
    <% answers = @material.answers %>
    <div class="control-group">
      <label class="control-label">答案</label>
      <div class="controls" style="padding-top:6px">
        <% answers.each do |asw| %>
          <%= link_to [:edit,:admin,asw], class: :edit_obj do %>
            <span class="label label-important"><%= asw.title %></span>
          <% end %>
          <%= link_to [:admin,asw], method: :delete,  
            class: :ajaxDel, data: {confirm: "Are you sure?"} ,remote: true  do %>
            x&nbsp;
          <% end %>
        <% end %>
        <%= link_to '添加', [:new,:admin,@material,:answer], id: :add_obj, class: "btn btn-mini btn-success", remote: true %>
      </div>
    </div>
  <% end %>
  <% if action_name == 'edit' %>
    <% images = @material.images %>
    <div class="control-group">
      <label class="control-label">图片</label>
      <div class="controls" style="padding-top:4px">
        <% images.each do |img| %>
          <%= link_to [:edit,:admin,img], class: :edit_obj do %>
            <span class="label label-important"><%= img.cn_state %></span>
          <% end %>
          <%= link_to [:admin,img], method: :delete,  
            class: :ajaxDel, data: {confirm: "Are you sure?"} ,remote: true  do %>
            x&nbsp;
          <% end %>
        <% end %>
        <%= link_to '添加', [:new,:admin,@material,:image], id: :add_obj, class: "btn btn-mini btn-success", remote: true %>
      </div>
    </div>
  <% end %>
  <h4 style="margin-left:100px">微信</h4>
  <hr/ style="margin-top:0px">
  <div class="control-group">
    <label class="control-label">appID</label>
    <div class="controls">
      <%= f.text_field :wx_appid, required: true, class: "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">图片</label>
    <div class="controls">
      <%= f.text_field :wx_tlimg, required: true, class: "input-xxlarge" %>
      <span class="help-block"><a href="<%= @material.wx_tlimg %>">图片预览</a> &nbsp;
        size: <span id="material_size"></span>
      </span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">标题</label>
    <div class="controls">
      <%= f.text_field :wx_title, required: true, class: "input-xxlarge" %>
    </div>
  </div>
  <% if action_name == "edit" %>
    <div class="control-group">
      <label class="control-label">链接</label>
      <div class="controls">
        <% wx_url = @material.wx_url %>
        <%= f.text_field :wx_url, value: wx_url, class: "input-xxlarge" %>
      </div>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label">描述</label>
    <div class="controls">
      <%= f.text_field :wxdesc, required: true, class: "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">分享</label>
    <div class="controls">
      <%= f.text_field :wx_ln, class: "input-xxlarge" %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">广告</label>
    <div class="controls">
      <%= f.text_area :advertisement, style: "width:800px; height:100px;" %>
    </div>
  </div>
  <div class="control-group">                                                      
    <label class="control-label">广告_1</label>                                      
    <div class="controls">                                                         
      <%= f.text_area :advertisement_1, style: "width:800px; height:100px;" %>       
    </div>                                                                         
  </div>
  <div class="form-actions" style="margin-bottom:0px">
    <%= f.submit '提交', class: 'btn btn-primary', id: "tixing" %>
  </div>
<% end %>
<script type="text/javascript">
  var theImage = new Image();
  theImage.src = "<%= @material.wx_tlimg %>";
  var imageWidth = theImage.width;
  var imageHeight = theImage.height;
  var content = imageWidth + "x" + imageHeight;
  $("span#material_size").text(content);
</script>
