<p id="notice"><%= notice %></p>

<p>
  <strong>Beaconid:</strong>
  <%= @message.beaconid %>
</p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @message.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @message.end_time %>
</p>

<p>
  <strong>Count:</strong>
  <%= @message.count %>
</p>

<p>
  <strong>State:</strong>
  <%= @message.state %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
