<table class="table table-bordered">  
  <thead>
    <tr class="well">
      <th>序号</th>
      <th width="15%">名称</th>
      <th>人气</th>
      <th>微信好友分享</th>
      <th>朋友圈分享</th>
      <th>微信链接</th>
      <th width="5%">状态</th>
      <th width="15%">背景</th>
      <th width="10%">创建时间</th>
      <th width="15%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @wshows.each do |c| %>
      <tr>
        <td><%= c.id %></td> 
        <td> 
          <%= link_to c do %>
            <%= c.title %>
          <% end %>
        </td>
        <td><%= c.pv %></td>
        <td><%= c.share_count("hy") %></td>
        <td><%= c.share_count("pyq") %></td>
        <td><img src="<%= c.get_qr_img %>" width='100px'></td>
        <td> 
          <%= link_to [:update_state,:admin,c], remote: true, class: 'ajax',  
            data: {confirm: 'are you sure?'} do %>
            <span class="label <%= "label-success" if c.state == 1 %>"><%= c.cn_state %></span>
          <% end %>
        </td>
        <td></td>
        <td><%= c.created_at.to_local %></td>
        <td> 
          <%= link_to '编辑', [:edit,:admin,c] %> |
          <%= link_to '克隆', [:clone,:admin,c], data: {confirm: "Are you clone one !"} %> |
          <%= link_to '删除', [:admin,c], method: :delete, class: "delMaterial", remote: true, data: {confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @wshows %>
