<%= form_for(@redpack) do |f| %>
  <% if @redpack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@redpack.errors.count, "error") %> prohibited this redpack from being saved:</h2>

      <ul>
      <% @redpack.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :beaconid %><br>
    <%= f.number_field :beaconid %>
  </div>
  <div class="field">
    <%= f.label :app_id %><br>
    <%= f.number_field :app_id %>
  </div>
  <div class="field">
    <%= f.label :shop_id %><br>
    <%= f.number_field :shop_id %>
  </div>
  <div class="field">
    <%= f.label :sender_name %><br>
    <%= f.text_field :sender_name %>
  </div>
  <div class="field">
    <%= f.label :wishing %><br>
    <%= f.text_field :wishing %>
  </div>
  <div class="field">
    <%= f.label :action_title %><br>
    <%= f.text_field :action_title %>
  </div>
  <div class="field">
    <%= f.label :action_remark %><br>
    <%= f.text_field :action_remark %>
  </div>
  <div class="field">
    <%= f.label :min %><br>
    <%= f.number_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.number_field :max %>
  </div>
  <div class="field">
    <%= f.label :suc_url %><br>
    <%= f.text_field :suc_url %>
  </div>
  <div class="field">
    <%= f.label :fail_url %><br>
    <%= f.text_field :fail_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
