<h1>Listing redpacks</h1>

<table>
  <thead>
    <tr>
      <th>Beaconid</th>
      <th>App</th>
      <th>Shop</th>
      <th>Sender name</th>
      <th>Wishing</th>
      <th>Action title</th>
      <th>Action remark</th>
      <th>Min</th>
      <th>Max</th>
      <th>Suc url</th>
      <th>Fail url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @redpacks.each do |redpack| %>
      <tr>
        <td><%= redpack.beaconid %></td>
        <td><%= redpack.app_id %></td>
        <td><%= redpack.shop_id %></td>
        <td><%= redpack.sender_name %></td>
        <td><%= redpack.wishing %></td>
        <td><%= redpack.action_title %></td>
        <td><%= redpack.action_remark %></td>
        <td><%= redpack.min %></td>
        <td><%= redpack.max %></td>
        <td><%= redpack.suc_url %></td>
        <td><%= redpack.fail_url %></td>
        <td><%= link_to 'Show', redpack %></td>
        <td><%= link_to 'Edit', edit_redpack_path(redpack) %></td>
        <td><%= link_to 'Destroy', redpack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redpack', new_redpack_path %>
