<p id="notice"><%= notice %></p>

<p>
  <strong>Beaconid:</strong>
  <%= @redpack.beaconid %>
</p>

<p>
  <strong>App:</strong>
  <%= @redpack.app_id %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @redpack.shop_id %>
</p>

<p>
  <strong>Sender name:</strong>
  <%= @redpack.sender_name %>
</p>

<p>
  <strong>Wishing:</strong>
  <%= @redpack.wishing %>
</p>

<p>
  <strong>Action title:</strong>
  <%= @redpack.action_title %>
</p>

<p>
  <strong>Action remark:</strong>
  <%= @redpack.action_remark %>
</p>

<p>
  <strong>Min:</strong>
  <%= @redpack.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @redpack.max %>
</p>

<p>
  <strong>Suc url:</strong>
  <%= @redpack.suc_url %>
</p>

<p>
  <strong>Fail url:</strong>
  <%= @redpack.fail_url %>
</p>

<%= link_to 'Edit', edit_redpack_path(@redpack) %> |
<%= link_to 'Back', redpacks_path %>
