<%= form_for [:admin, @banner] do |f| %>

    <div class="control-group">
      <label class="control-label">图片地址</label>
      <div class="controls">
        <%= f.text_field :image_url, required: true, style: "width:100px" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">链接地址</label>
      <div class="controls">
        <%= f.text_field :link, required: true, style: "width:500px" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Wait</label>
      <div class="controls">
        <%= f.text_field :wait, required: true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">material_id</label>
      <div class="controls">
        <%= f.text_field :material_id, required: false %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">component_id</label>
      <div class="controls">
        <%= f.text_field :activity_id, required: false %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Btype</label>
      <div class="controls">
        <%= f.select :btype,Admin::BannersController::Btype, required: false %>
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls">
        <%= f.select :state, Admin::BannersController::State, required: true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <%= f.submit %>
      </div>
    </div>

<% end %>