<% unless @banners.blank? %>

<table class="table">

  <tr>
    <th>ID</th>
    <th>material_id</th>
    <th>activity_id</th>
    <th>banner type</th>
    <th>Image</th>
    <th>link</th>
    <th>Wait</th>
    <th>State</th>
    <th>Operate</th>
  </tr>

  <% @banners.each do |banner| %>
  <tr>
    <td><%= banner.id %></td>
    <td><%= banner.material_id %></td>
    <td><%= banner.activity_id %></td>
    <td><%= banner.btype %></td>
    <td><%= banner.image_url %></td>
    <td><%= banner.link %></td>
    <td><%= banner.wait %></td>
    <td><%= banner.state_status %></td>
    <td><%= link_to "Edit", edit_admin_banner_path(banner) %> | <%= link_to "delete", admin_banner_path(banner), :method => :delete, confirm: "确认删除?" %></td>
  </tr>
  <% end %>
</table>
<% end %>