<h3 style='margin-top:0px;'><%= action_name.in?(['new','create']) ? '新建' : '编辑' %>@redpack_time</h3>
<hr/ style='margin-top:0px;'>

    <%= form_for [:admin, @redpack, @redpack_time] do |f| %>
    <div class="control-group">
      <label class="control-label">start_time</label>
      <div class="controls input-append date form_datetime"  data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input1">

        <%= f.text_field :start_time %>
        <span class="add-on"><i class="icon-remove"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>

      </div>
      <input type="hidden" id="dtp_input1" value="" /><br/>
    </div>

    <div class="control-group">
      <label class="control-label">end_time</label>
      <div class="controls input-append date form_datetime"  data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">

        <%= f.text_field :end_time %>
        <span class="add-on"><i class="icon-remove"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
      </div>
      <input type="hidden" id="dtp_input2" value="" /><br/>
    </div>
    <%= f.label :min %>
    <%= f.text_field :min %>
    <%= f.label :max %>
    <%= f.text_field :max %>
    <%= f.label :store %>
    <%= f.text_field :store %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.label :probability %>
    <%= f.text_field :probability %>
    <%= f.label :frequency %>
    <%= f.text_field :frequency %>
    <%= f.submit "提交", class: "btn btn-large btn-primary" %>
    <% end %>


<script type="text/javascript">
  $('.form_datetime').datetimepicker({
    language:  'zh-CN',
    weekStart: 1,
    todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
    showMeridian: 1
  });
</script>