<h1>Listing weixins</h1>

<table>
  <thead>
    <tr>
      <th>pv</th>
      <th>Wxid</th>
      <th>Active</th>
      <th>Tid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weixins.each do |weixin| %>
      <tr>
        <td><%= weixin.pv %></td> 
        <td><%= weixin.wxid %></td>
        <td><%= weixin.active %></td>
        <td><%= weixin.tid %></td>
        <td><%= link_to 'Edit', [:edit, :admin, weixin] %></td>
        <td><%= link_to 'Destroy', [:admin, weixin], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weixin', [:new,:admin,:weixin]  %>
