<!DOCTYPE html>
<html>
  <head>
      <link href="http://wei.qq275.com/vapp/shangjieba.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
      <% @category = @material.category %>
      <title><%= @material.name %></title>
      <% @answers = @material.answers %>
      <meta charset="utf-8">

      <% unless  @category.game_type_id == 11 %>
        <script src="http://wx.51self.com/js/jquery.min.js"></script>
      <% end %>

      <script>  
        function click_ad(idx){
          ajax = new XMLHttpRequest();
          ajax.open('GET', "/weitest/click_stat?id=" + idx, true);
          ajax.send(null);
          return false;
        }
      </script>

      <%= ERB.new(@category.meta).result(binding).html_safe %>

  <style type="text/css"> 
    <% @css_image   = @material.images.select{|i| i.state == 1 }[0].try(:body) %>
    <% @css_image_2 = @material.images.select{|i| i.state == 10}[0].try(:body) %>
    <% @css_image_3 = @material.images.select{|i| i.state == 11}[0].try(:body) %>
    <% @css_image_4 = @material.images.select{|i| i.state == 12}[0].try(:body) %>
    <%= ERB.new(@category.css).result(binding).html_safe %>
  </style>
   
 </head>


<% sign_package = $wxclient.get_jssign_package(request.url) %>
<script src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js' type='text/javascript'></script>
<script>
  wx.config({
    debug: false,
    appId: "<%= sign_package['appId'] %>",
    timestamp: <%= sign_package['timestamp'] %>,
    nonceStr:  "<%= sign_package['nonceStr'] %>",
    signature: "<%= sign_package['signature'] %>",
    jsApiList: [
      'hideMenuItems',
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo',
      'hideMenuItems',
      'showMenuItems',
      'addCard',
      'chooseCard',
      'openCard'
    ]
  });

function share_api(){
  var share_callback_hy = function () {
      ajax = new XMLHttpRequest();
      ajax.open('GET', '/materials/wx_share?f=hy_<%= params[:id]%>', true);
      ajax.send(null);
  }

  var share_callback_pyq = function () {
      ajax = new XMLHttpRequest();
      ajax.open('GET', '/materials/wx_share?f=pyq_<%= params[:id]%>', true);
      ajax.send(null);
  }



  wx.ready(function(){
    var info = $("#info").text();
    if( info == '' || info == null || info == undefined ){
      info = "<%= @material.wx_title %>"; 
    } 
    wx.onMenuShareTimeline({
      title: info, // 分享标题
      link: "<%= share_link(@material, @beacon) %>", // 分享链接
      imgUrl: "<%= @material.wx_tlimg %>", // 分享图标
      success: function () {
        share_callback_pyq();
        <% if @category.game_type_id >= 13  %> 
        //  location.href = "<%= @material.wx_ln %> ";
        <% end %> 
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });

    wx.onMenuShareAppMessage({
      title: info, // 分享标题
      desc: "<%= @material.wxdesc %>", // 分享描述
      link: "<%= share_link(@material, @beacon) %>", // 分享链接
      imgUrl: "<%= @material.wx_tlimg %>", // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
        share_callback_hy();
         <% if @category.game_type_id >= 13  %> 
         // location.href = "<%= @material.wx_ln %> ";
         <% end %>
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });

    <% if @category.hide_pyq %>
      wx.hideMenuItems({
        menuList: ["menuItem:share:timeline", "menuItem:copyUrl", "menuItem:favorite", "menuItem:share:qq", "menuItem:openWithSafari","menuItem:openWithQQBrowser"]
      });
    <% end %>

  });

}

share_api();

</script>

  <script type="text/javascript">
    <%= ERB.new(@category.js).result(binding).html_safe %>
  </script>

<link rel="stylesheet" type="text/css" href="http://wx.51self.com/css/game9g.css">

<% if @beacon and @beacon.state.to_i >1  %>
<a id="game9g9gstart" class="game9g9gstart pulse infinite"></a>
<div id="game9gmenu" class="game9gmenu">
<ul>
  <li><img src="http://wx.51self.com/img/menu/icon_03.png"><a href='/wshows/6?beaconid=<%=@beacon.url %>&game_id=<%= @material.id%>'>今日排行版</a></li>
  <!--
  <li><img src="http://wx.51self.com/img/menu/icon_04.png"><a href='/wshows/7?beaconid=<%= @beacon.url %>&game_id=<%= @material.id%>'><%= @beacon.name %>动态</a></li>
  <li><img src="http://wx.51self.com/img/menu/icon_01.png"><a href='/<%= @beacon.url %>/home'>@<%=@beacon.name %></a></li>
  <li id="game9gmenu_credit"><img src="http://wx.51self.com/img/menu/icon_05.png"><a href='/wshows/5'>我的游戏</a></li>
   -->
</ul>
</div>

<script type="text/javascript">
  var SHAKE_THRESHOLD = 1000;
  var last_update = 0;
  var x, y, z, last_x = 0, last_y = 0, last_z = 0;

  function show_menu(){
    mask();
  }

  
  <!--
  function deviceMotionHandler(eventData) {
    var acceleration =eventData.accelerationIncludingGravity;
    var curTime = new Date().getTime();
    if ((curTime-last_update)> 10) {
        var diffTime = curTime -last_update;
        last_update = curTime;
        x = acceleration.x;
        y = acceleration.y;
        z = acceleration.z;
        var speed = Math.abs(x +y + z - last_x - last_y - last_z) / diffTime * 10000;

        if (speed > SHAKE_THRESHOLD) {
          show_menu();
        }
        last_x = x;
        last_y = y;
        last_z = z;
    }
  }
  if (window.DeviceMotionEvent) {
    window.addEventListener('devicemotion',deviceMotionHandler,false);
  } else {
    document.getElementById("dmEvent").innerHTML = "Not supported on your device."
  }
  -->
      

  $("#game9g9gstart").on('touch mousedown', function(e){
    mask();
    //e.stopPropagation();
  });

 
  $("#mask").on('touch mousedown', function(e){
    mask();
    //e.stopPropagation();
  }); 

  var mask = function () {
    if (document.getElementById('mask').style.display == 'inline') {
      document.getElementById('mask').style.display = 'none';
      $("#game9gmenu").removeClass('show');
    } else {
      $("#game9gmenu").addClass('show'); 
      document.getElementById('mask').style.display = 'inline';
    }
  }


</script>

<style>
  #mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: none;
                background-color: #333;
                filter: alpha(Opacity=90);
                -moz-opacity: 0.9;
                opacity: 0.9;
                z-index: 999;
            }
</style>

    <div id="mask" onclick="mask();"></div>

<% end %>

    <% @commit_btn   = @material.images.select{|i| i.state == 9 }[0].try(:body) %>
    <% @close_btn    = @material.images.select{|i| i.state == 16}[0].try(:body) %>
    <% @html_image   = @material.images.select{|i| i.state == 2 }[0].try(:body) %>
    <% @html_image_2 = @material.images.select{|i| i.state == 13}[0].try(:body) %>
    <% @html_image_3 = @material.images.select{|i| i.state == 14}[0].try(:body) %>
    <%= ERB.new(@category.html).result(binding).html_safe %>
 
    <%= render "shared/analysis" %>
   
    <%= render :partial=>"shared/report", :locals=>{:type=>"pv", :cid=>@category.id, :gid=>@material.id } %>

    <script>
      var url="/weitest/uv?beaconid=<%= params[:beaconid] %>&game_id=<%= @material.id %>&remark=浏览"
      var img = new Image();
      img.src = url;
    </script>
</html>
