<!DOCTYPE html>
<html>
  <head>
    <% @category = @material.category %>
    <% @wx_appid = @material.wx_appid %>
    <% @wx_url   = @material.wx_url %>
    <% @wx_title = @material.wx_title %>
    <% @wx_desc  = @material.wxdesc %>
    <% @wx_tlimg = @material.wx_tlimg %>

    <% @re_backgroud = @material.images.select{|i| i.state == 5}[0].try(:body) %>

    <% @re_view   = @material.images.select{|i| i.state == 6}[0].try(:body) %>
    <% @re_btn    = @material.images.select{|i| i.state == 7}[0].try(:body) %>
    <% @share_btn = @material.images.select{|i| i.state == 8}[0].try(:body) %>
    <title><%= @material.name %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=320,width=640,user-scalable=no">
    <%= javascript_include_tag "jquery" %>
    
<% sign_package = $wxclient.get_jssign_package(request.url) %>
<script src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js' type='text/javascript'></script>
<script>
  wx.config({
    debug: false,
    appId: "<%= sign_package['appId'] %>",
    timestamp: <%= sign_package['timestamp'] %>,
    nonceStr:  "<%= sign_package['nonceStr'] %>",
    signature: "<%= sign_package['signature'] %>",
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo',
      'hideMenuItems',
      'showMenuItems',
      'hideAllNonBaseMenuItem',
      'showAllNonBaseMenuItem',
      'translateVoice',
      'startRecord',
      'stopRecord',
      'onRecordEnd',
      'playVoice',
      'pauseVoice',
      'stopVoice',
      'uploadVoice',
      'downloadVoice',
      'chooseImage',
      'previewImage',
      'uploadImage',
      'downloadImage',
      'getNetworkType',
      'openLocation',
      'getLocation',
      'hideOptionMenu',
      'showOptionMenu',
      'closeWindow',
      'scanQRCode',
      'chooseWXPay',
      'openProductSpecificView',
      'addCard',
      'chooseCard',
      'openCard'
    ]
  });

function share_api(){
  var share_callback_hy = function () {
      ajax = new XMLHttpRequest();
      ajax.open('GET', '/materials/wx_share?f=hy_<%= params[:id]%>', true);
      ajax.send(null);
  }

  var share_callback_pyq = function () {
      ajax = new XMLHttpRequest();
      ajax.open('GET', '/materials/wx_share?f=pyq_<%= params[:id]%>', true);
      ajax.send(null);
  }

  wx.ready(function(){
    var info = $("#info").text();
    wx.onMenuShareTimeline({
      title: info + "<%= @material.wx_title %>", // 分享标题
      link: "<%= @material.get_share_url %>", // 分享链接
      imgUrl: "<%= @material.wx_tlimg %>", // 分享图标
      success: function () {
        share_callback_pyq();
        location.href = "<%= @wx_ln %> "; 
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });

    wx.onMenuShareAppMessage({
      title: info + "<%= @material.wx_title %>", // 分享标题
      desc: "<%= @material.wxdesc %>", // 分享描述
      link: "<%= @material.get_share_url %>", // 分享链接
      imgUrl: "<%= @material.wx_tlimg %>", // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
        share_callback_hy();
        location.href = "<%= @wx_ln %> ";  
        // 用户确认分享后执行的回调函数
      },
      cancel: function () { 
        // 用户取消分享后执行的回调函数
      }
    });
  });

}

share_api();

</script>

    <script type="text/javascript">
      <%= ERB.new(@category.re_js).result(binding).html_safe %>
    </script>
    <style type="text/css">
      <%= ERB.new(@category.re_css).result(binding).html_safe %>
    </style>
  </head>
  <%= render "shared/data" %>
  <%= ERB.new(@category.re_html).result(binding).html_safe %>
  <%= render "shared/analysis" %>
</html>
