<!DOCTYPE html>
<html>
    <head>
      <link href="http://1251008728.cdn.myqcloud.com/1251008728/assets/images/wanhuir-icon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
      <% @category = @material.category %>
      <title><%= @material.name %></title>
      <% @answers = @material.answers %>
      <meta charset="utf-8">
      <script src="http://wxfile.youxiyule.com/js/jquery.min.js"></script>
      <script>  
        function click_ad(idx){
          ajax = new XMLHttpRequest();
          ajax.open('GET', "/admin/click_stat?id=" + idx, true);
          ajax.send(null);
          return false;
        }
      </script>
      
      <%= ERB.new(@category.meta).result(binding).html_safe %>
      <% @wx_appid = @material.wx_appid %>
      <% @wx_url   = @material.wx_url %>
      <% @wx_title = @material.wx_title %>
      <% @wx_desc  = @material.wxdesc %>
      <% @wx_tlimg = @material.wx_tlimg %>
      <% @wx_ln    = @material.wx_ln %>
      <script type="text/javascript">
        <%= ERB.new(@category.js).result(binding).html_safe %>
      </script>
      <% if  @is_weixin %>
        <script type="text/javascript">
          <%= ERB.new(@base_category.wx_js || "").result(binding).html_safe %>
        </script>
      <% end %>
      <style type="text/css">
        <% @css_image   = @material.images.select{|i| i.state == 1 }[0].try(:body) %>
        <% @css_image_2 = @material.images.select{|i| i.state == 10}[0].try(:body) %>
        <% @css_image_3 = @material.images.select{|i| i.state == 11}[0].try(:body) %>
        <% @css_image_4 = @material.images.select{|i| i.state == 12}[0].try(:body) %>
        <%= ERB.new(@category.css).result(binding).html_safe %>
      </style>
    </head>
    <%= render "shared/ad_bottom" %>

    <% @prompt_image = @material.images.select{|i| i.state == 3 }[0].try(:body) %>
    <% @commit_btn   = @material.images.select{|i| i.state == 9 }[0].try(:body) %>
    <% @close_btn    = @material.images.select{|i| i.state == 16}[0].try(:body) %>
    <% @html_image   = @material.images.select{|i| i.state == 2 }[0].try(:body) %>
    <% @html_image_2 = @material.images.select{|i| i.state == 13}[0].try(:body) %>
    <% @html_image_3 = @material.images.select{|i| i.state == 14}[0].try(:body) %>
    <%= ERB.new(@category.html).result(binding).html_safe %>
    <%= render "shared/ad_mid" %>
    <%= render "shared/rec_games" %>
    <%= render "shared/ad_bottom" %>
 
    <%= render "shared/analysis" %>
    <%= render :partial=>"shared/report", :locals=>{:type=>"pv", :cid=>@category.id, :gid=>@material.id } %>
</html>
