<!DOCTYPE html>
<html>
    <head>
      <link href="http://wei.qq275.com/vapp/shangjieba.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
      <% @category = @material.category %>
      <title><%= @material.name %></title>
      <% @answers = @material.answers %>
      <meta charset="utf-8">

      <% unless  @category.game_type_id == 11 %>
        <script src="http://wx.51self.com/js/jquery.min.js"></script>
      <% end %>

      <script>  
        function click_ad(idx){
          ajax = new XMLHttpRequest();
          ajax.open('GET', "/weitest/click_stat?id=" + idx, true);
          ajax.send(null);
          return false;
        }
      </script>


      <%= ERB.new(@category.meta).result(binding).html_safe %>
      <% @wx_appid = @material.wx_appid %>
      <% @wx_url   = @material.wx_url %>
      <% @wx_title = @material.wx_title %>
      <% @wx_desc  = @material.wxdesc %>
      <% @wx_tlimg = @material.wx_tlimg %>
      <% @wx_ln    = @material.wx_ln %>
      <script type="text/javascript">
        <%= ERB.new(@category.js).result(binding).html_safe %>
      </script>
      <% unless  @category.use_wxjs %>
        <script type="text/javascript">
          <%= ERB.new(@base_category.wx_js || "").result(binding).html_safe %>
        </script>
      <% end %>
      <style type="text/css">
        <% @css_image   = @material.images.select{|i| i.state == 1 }[0].try(:body) %>
        <% @css_image_2 = @material.images.select{|i| i.state == 10}[0].try(:body) %>
        <% @css_image_3 = @material.images.select{|i| i.state == 11}[0].try(:body) %>
        <% @css_image_4 = @material.images.select{|i| i.state == 12}[0].try(:body) %>
        <%= ERB.new(@category.css).result(binding).html_safe %>
      </style>
    </head>
    
    <% show_rec = @material.category.material_type != 1 %>

    <%if show_rec and @category.game_type_id != 7 and @category.game_type_id != 11 %>
      <%= render "shared/ad1" %>
    <% end %>

    <% @prompt_image = @material.images.select{|i| i.state == 3 }[0].try(:body) %>
    <% @commit_btn   = @material.images.select{|i| i.state == 9 }[0].try(:body) %>
    <% @close_btn    = @material.images.select{|i| i.state == 16}[0].try(:body) %>
    <% @html_image   = @material.images.select{|i| i.state == 2 }[0].try(:body) %>
    <% @html_image_2 = @material.images.select{|i| i.state == 13}[0].try(:body) %>
    <% @html_image_3 = @material.images.select{|i| i.state == 14}[0].try(:body) %>
    <%= ERB.new(@category.html).result(binding).html_safe %>
   

    <% if show_rec and @category.game_type_id != 7 and @category.game_type_id != 11 %>
      <%#= render "shared/ad_bottom" %>
      <%= render "shared/ad_wx" %>
      <% unless @category.use_wxjs %>
        <%= render "shared/rec_games" %>
        <%= render "shared/ad_bottom" %>
        <%= render "shared/rec_h5_games" %>
        <%= render "shared/ad_bottom" %>
      <% end %> 
    <% else %>
      <% if @category.game_type_id == 11 %>
         <%= render "shared/rec_article_games" %>
      <% end %>
      <% if @category.id != 255 %>
        <%= render "shared/ad_bottom_h5" %>
      <% end %>
    <% end %>
 
    <%= render "shared/analysis" %>
   
    <% if @is_stat %>   
      <%= render :partial=>"shared/report", :locals=>{:type=>"pv", :cid=>@category.id, :gid=>@material.id } %>
    <% end %>
</html>
