<% unless @set_wx_ad %>
  <%= render "shared/ad_bottom" %>
<% else %>
  <% @ads = Ad.where(:on => true).where( "t>=10") %>
  <% if @ads.length <=0 %>
    <%= render "shared/ad_bottom" %>
  <% else %>
    <% @ad = @ads.sample(1)[0] %>
    <div style="z-index: 99999; width: 100%">
      <a onclick="click_ad(<%= @ad.id %>);" href="<%= @ad.click %>">
        <img src="<%= @ad.img %>" alt="" style="width: 100%; height: auto"/>
      </a>
    </div>
  <% end %>
<% end %>
