<div id="content" class="container_12 grid_10 push_5">
  <% @materials.each_with_index do |material, index| %>
    <div class="grid_4 alpha1 omega<%= index+1 %>">
      <div class="home blog paged paged-2 cat-links asides" style="height:48px;overflow:hidden;">
        <%= link_to material.name, '#', title: 'asides' %>
      </div>
      <div id="post-11945" class="post-11945 post type-post status-publish format-standard hentry category-asides posthome author-admin1310 asides">
        <div class="">
          <%= link_to material do %>
            <%= image_tag material.wx_tlimg, style: "width:100%; height:265px; margin-bottom:0px;" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>				
  <% unless @materials.size <= @materials.total_count %>
    <div style="background: #444;">
      <div style="margin: 0 auto 0 auto; width:63px; padding: 6px; text-align: center;">
        <%= link_to "点击加载", materials_url(length: 9), style: "color: white;" %>
      </div>
    </div>
  <% end %>
</div>
