<div id="content" class="container_12 grid_10 push_5">
  <% @materials.each do |material| %>
    <div class="grid_4 alpha1">
      <div class="home blog paged paged-2 cat-links asides" style=" height:40px; ">
        <!--<%= link_to material.name, '#', title: 'asides', style:'width:50%; line-height:20px;' %>-->
        <%= material.name %>
      </div>
      <div id="post-11945" class="post-11945 post type-post status-publish format-standard hentry category-asides posthome author-admin1310 asides">
        <div class="">
          <%= link_to material do %>
            <%= image_tag material.wx_tlimg, style: "width:100%;  margin-bottom:-3px;" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>				
  <div>
    <%#= social_share_button_tag("测试", url:"http://www.wanhuir.com/materials/1", image: "http://mashang.qiniudn.com/tc.jpg") %>
  </div>
  <% if @materials.size < @materials.total_count %>
    <div style="background: #444;">
      <%= link_to  materials_url(page: 2), remote: true, id: "load_materials" do %>
        <div style="margin: 0 auto 0 auto; width:94px; padding:15px; text-align:center; color:white;">
          点击加载更多游戏
        </div>
      <% end %>
    </div>
  <% end %>
</div>
