<div id="content" class="container_12 grid_10 push_5">
  <% @materials.each_with_index do |material, index| %>
    <div class="grid_4 alpha1 omega<%= index+1 %>">
      <div class="home blog paged paged-2 cat-links asides" style="height:48px;overflow:hidden;">
        <%= link_to material.name, '#', title: 'asides' %>
      </div>
      <div id="post-11945" class="post-11945 post type-post status-publish format-standard hentry category-asides posthome author-admin1310 asides">
        <div class="">
          <%= link_to material do %>
            <%= image_tag material.wx_tlimg, style: "width:100%;" %>
          <% end %>
        </div>
        <div class="posthometext">
          <div class="entry-content-home">
            <%= material.wxdesc %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="clear"></div>				
  <div class="center">
    <!-- <div class="navigation mobileoff"> 
      <p><a href="#" >&laquo; Previous Page</a></p> 
    </div>
    <div class="navigation_mobile"> 
      <p><a href="#" >&laquo; Previous Page</a> </p> 
    </div> --!>
  </div>
</div>
