<% asw = @answer %>
<%= form_for [:admin, asw], html: {class: "form-horizontal", style: "margin-bottom:0px"} do |f| %>
  <h3 style="margin-top:0px"> 
    <%= action_name.in?(['new', 'create']) ? "添加" : "编辑" %>答案 
  </h3>
  <hr style="margin-top:0px"/>
  <% unless asw.errors.blank? %>
    <div class="control-group text-error">
      <div class="controls" style="margin-left:110px">
        <ul>
          <% asw.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= f.hidden_field :viewable_id %>
  <%= f.hidden_field :viewable_type %>
  <div class="control-group">
    <label class="control-label" style="width:100px"><strong>标题:</strong></label>
    <div class="controls" style="margin:0 30px 0 110px">
      <%= f.text_area :title, style: "width:200px", required: true %> 
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" style="width:100px">描述:</strong></label>
    <div class="controls" style="margin:0 30px 0 110px">
      <%= f.text_area :desc, style: "width:200px" %>
    </div>
  </div>

  
  <div class="control-group">
    <label class="control-label" style="width:100px"><strong>权重:</strong></label>
    <div class="controls" style="margin:0 30px 0 110px">
      <%= f.number_field :weight, min: -1, style: "width:200px" %>
      <span class="help-block">小于零不出现，大于零权重增加</span>
    </div>
  </div>

    <div class="control-group">
      <label class="control-label" style="width:100px"><strong>分数范围:</strong></label>
      <div class="controls" style="margin:0 30px 0 110px">
        <%= f.text_field :big_than, style: "width:50px" %>
        》＝
        答案
        《＝
        <%= f.text_field :small_than, style: "width:50px" %>
      </div>
    </div>

  <div class="control-group">
    <label class="control-label" style="width:100px"><strong>分组:</strong></label>
    <div class="controls" style="margin:0 30px 0 110px">
      <%= f.number_field :group, min: 0, style: "width:200px" %> 
      <span class="help-block">说明: 1为男，0为女的.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" style="width:100px"><strong>图片链接:</strong></label>
    <div class="controls" style="margin:0 30px 0 110px">
      <%= f.text_field :img, style: "width:320px" %> 
      <span class="help-block"><a href="<%= @answer.img %>">图片预览</a> &nbsp;
        size: <span id="size"></span>
      </span>
    </div>
  </div>
  <div class="form-actions" style="margin-bottom:0px;margin-left:-28px">
    <button type="submit" class="btn btn-primary">提交</button>
  </div>
<% end %>
<script type="text/javascript">
  var screenImage = $("<img src='<%= asw.img %>'/>");
  var theImage = new Image();
  theImage.src = screenImage.attr("src");
  var imageWidth = theImage.width;
  var imageHeight = theImage.height;
  var content = imageWidth + "x" + imageHeight;
  $("span#size").text(content);
</script>
