<%= form_for(@user_score) do |f| %>
  <% if @user_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_score.errors.count, "error") %> prohibited this user_score from being saved:</h2>

      <ul>
      <% @user_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :beaconid %><br>
    <%= f.number_field :beaconid %>
  </div>
  <div class="field">
    <%= f.label :total_score %><br>
    <%= f.number_field :total_score %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.number_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
