<h3 style='margin-top:0px;'><%= action_name.in?(['new','create']) ? '新建' : '编辑' %>@redpack_value</h3>
<hr/ style='margin-top:0px;'>

    <%= form_for [:admin, @redpack, @redpack_value] do |f| %>

    <%= f.label :money %>
    <%= f.text_field :money %>
    <%= f.submit "提交", class: "btn btn-large btn-primary" %>
    <% end %>
