<%= form_for(@flink) do |f| %>
  <% if @flink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flink.errors.count, "error") %> prohibited this flink from being saved:</h2>

      <ul>
      <% @flink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :beaconid %><br>
    <%= f.number_field :beaconid %>
  </div>
  <div class="field">
    <%= f.label :wxid %><br>
    <%= f.text_field :wxid %>
  </div>
  <div class="field">
    <%= f.label :wxurl %><br>
    <%= f.text_field :wxurl %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.number_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
