<h1>Listing flinks</h1>

<table>
  <thead>
    <tr>
      <th>Beaconid</th>
      <th>Wxid</th>
      <th>Wxurl</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flinks.each do |flink| %>
      <tr>
        <td><%= flink.beaconid %></td>
        <td><%= flink.wxid %></td>
        <td><%= flink.wxurl %></td>
        <td><%= flink.state %></td>
        <td><%= link_to 'Show', flink %></td>
        <td><%= link_to 'Edit', edit_flink_path(flink) %></td>
        <td><%= link_to 'Destroy', flink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flink', new_flink_path %>
