<table class="table table-bordered">  
  <thead>
    <tr class="well">
      <th>id</th>
      <th>名称</th>
      <th>人气(PV)</th>
      <th>微信好友分享</th>
      <th>朋友圈分享</th>
      <th>当前游戏</th>
      <th width="5%">游戏</th>
      <th width="17%">创建时间</th>
      <th width="13%">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |c| %>
      <tr>
        <td><%= c.id %></td> 
        <td><a href="/admin/materials?cid=<%= c.id %>"><%= c.name %></a></td>
        <td><%= c.pv %></td>
        <td><%= c.share_count("hy") %></td>
        <td><%= c.share_count("pyq") %></td>
        <td>
          <%= link_to c.current_game do %>                                                      
            <%= c.current_game_name %>                                                          
          <% end %> 
        </td> 
        <td style="text-align:center;"> 
          <span class="badge badge-info"> 
            <%= c.materials.length %> 
          </span> 
        </td>
        <td><%= c.created_at.to_local %></td>
        <td> 
          <%= link_to '编辑', [:edit,:admin,c] %> |
          <%= link_to '克隆', [:clone,:admin,c] %> |
          <%= link_to '删除', [:admin,c], method: :delete, class: "delCategory", remote: true, data: {confirm: "Are you sure?"} %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p style="color:red;">注：游戏小于0者才可删除。</p>
<%= paginate @categories %>
