<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Beaconid</th>
      <th>Shop</th>
      <th>Appid</th>
      <th>Cardid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.beaconid %></td>
        <td><%= card.shop_id %></td>
        <td><%= card.appid %></td>
        <td><%= card.cardid %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
