<% unless @images.blank? %>

<table class="table">

  <tr>
    <th>ID</th>
    <th>user</th>
    <th>pic</th>
    <th>img url</th>
    <th>photo_name</th>
    <th>photo_path</th>
    <th>viewable_id</th>
    <th>viewable_type</th> 
    <th>Operate</th>
  </tr>

  <% @images.each do |image| %>
  <tr>
    <td><%= image.id %></td>
    <td><%= image.user_name %></td>
    <td><img src="<%= image.get_url %>" ></td>
    <td><%= image.get_url %></td>
    <td><%= image.photo_name %></td>
    <td><%= image.photo_path %></td>
    <td><%= image.viewable_id %></td>
    <td><%= image.viewable_type %></td>
    <td><%= link_to "Edit", edit_admin_image_path(image) %> | <%= link_to "delete", admin_image_path(image), :method => :delete, confirm: "确认删除?" %></td>
  </tr>
  <% end %>
</table>

<%= paginate @images %>
<% end %>
