<!DOCTYPE html>
<html>
    <head>
      <link href="http://1251008728.cdn.myqcloud.com/1251008728/assets/images/wanhuir-icon.png" rel="shortcut icon" type="image/vnd.microsoft.icon">
      <% @category = @material.category %>
      <title><%= @material.name %></title>
      <meta name="keywords" content="玩会儿,微信测试,微信游戏,微测试,微游戏,小游戏,转盘">
      <meta name="description" content="<%= @material.description %>" >
      <% @answers = @material.answers %>
      <meta charset="utf-8">
      <script src="http://1251008728.cdn.myqcloud.com/1251008728/assets/javascripts/jquery.js"></script>
      <script>  
        function click_ad(idx){
          ajax = new XMLHttpRequest();
          ajax.open('GET', "/admin/click_stat?id=" + idx, true);
          ajax.send(null);
          return false;
        }
      </script>
      
      <%= ERB.new(@category.meta).result(binding).html_safe %>
      <% @wx_appid = @material.wx_appid %>
      <% @wx_url   = @material.wx_url %>
      <% @wx_title = @material.wx_title %>
      <% @wx_desc  = @material.wxdesc %>
      <% @wx_tlimg = @material.wx_tlimg %>
      <% @wx_ln    = @material.wx_ln %>
      <script type="text/javascript">
        <%= ERB.new(@category.js).result(binding).html_safe %>
      </script>
      <script type="text/javascript">
        <%= ERB.new(@category.wx_js || "").result(binding).html_safe %>
      </script>
      <style type="text/css">
        <% @css_image   = @material.images.select{|i| i.state == 1 }[0].try(:body) %>
        <% @css_image_2 = @material.images.select{|i| i.state == 10}[0].try(:body) %>
        <% @css_image_3 = @material.images.select{|i| i.state == 11}[0].try(:body) %>
        <% @css_image_4 = @material.images.select{|i| i.state == 12}[0].try(:body) %>
        <%= ERB.new(@category.css).result(binding).html_safe %>
      </style>
    </head>
    <% unless params[:fr] %>
      <%= render "shared/ad" %>
    <% end %>

    <% @prompt_image = @material.images.select{|i| i.state == 3 }[0].try(:body) %>
    <% @commit_btn   = @material.images.select{|i| i.state == 9 }[0].try(:body) %>
    <% @close_btn    = @material.images.select{|i| i.state == 16}[0].try(:body) %>
    <% @html_image   = @material.images.select{|i| i.state == 2 }[0].try(:body) %>
    <% @html_image_2 = @material.images.select{|i| i.state == 13}[0].try(:body) %>
    <% @html_image_3 = @material.images.select{|i| i.state == 14}[0].try(:body) %>
    <%= ERB.new(@category.html).result(binding).html_safe %>
    <br/> 
    
    <% unless params[:fr] %>
      <%= render "shared/ad_bottom" %>
    <% end %>
    
    <br/>
    <br/> 
    <div id='desc'>
        <%= @material.get_description  %>
    </div>

    <%= render "shared/analysis" %>
    <%= render :partial=>"shared/report", :locals=>{:type=>"pv", :cid=>@category.id, :gid=>@material.id } %>
    <%= render :partial => "shared/data" %>
</html>
