<!doctype html>
<html>
  <head>
    <title><%= @material.title %></title>
    <meta charset="UTF-8">
    <%= ERB.new(@material.category.meta).result(binding).html_safe %>
    <script type="text/javascript">
      var dataForWeixin = {
appId: "wx78f81724e6590b1d",
       TLImg: "<%= @wx_tlimg %>",
       url: document.location.href,
       title: "<%= @wx_title %>",
       desc: "<%= @wx_desc %>"
      };
    </script>
    <%= javascript_include_tag "jquery" %>
    <script type="text/javascript">
      <%= ERB.new(@material.category.js).result(binding).html_safe %>
    </script>
    <%= javascript_include_tag "wx_share" %>
    <style type="text/css">
      <%= ERB.new(@material.category.css).result(binding).html_safe %>
    </style>
  </head>
  <%= ERB.new(@material.category.try(:html)).result(binding).html_safe %>
</html>
