<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @burl.url %>
</p>

<p>
  <strong>Beaconid:</strong>
  <%= @burl.beaconid %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @burl.weight %>
</p>

<p>
  <strong>State:</strong>
  <%= @burl.state %>
</p>

<p>
  <strong>Pv:</strong>
  <%= @burl.pv %>
</p>

<p>
  <strong>Uv:</strong>
  <%= @burl.uv %>
</p>

<p>
  <strong>Title:</strong>
  <%= @burl.title %>
</p>

<p>
  <strong>Img:</strong>
  <%= @burl.img %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @burl.remark %>
</p>

<%= link_to 'Edit', edit_burl_path(@burl) %> |
<%= link_to 'Back', burls_path %>
