<h3 style='margin-top:0px;text-align: center;'><%= action_name.in?(['new','create']) ? '新建' : '编辑' %>redpack_person</h3>
<hr/ style='margin-top:0px;'>
<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, @redpack, @redpack_person] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :time_id %>
    <%= f.text_field :time_id %>
    <%= f.label :value_id %>
    <%= f.text_field :value_id %>
    <%= f.submit "提交", class: "btn btn-large btn-primary" %>
    <% end %>
</div>
</div>

