<h1>Listing bgames</h1>

<table>
  <thead>
    <tr>
      <th>Ibeacon</th>
      <th>Game</th>
      <th>State</th>
      <th>Remark</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bgames.each do |bgame| %>
      <tr>
        <td><%= bgame.ibeacon_id %></td>
        <td><%= bgame.game_id %></td>
        <td><%= bgame.state %></td>
        <td><%= bgame.remark %></td>
        <td><%= link_to 'Show', bgame %></td>
        <td><%= link_to 'Edit', edit_bgame_path(bgame) %></td>
        <td><%= link_to 'Destroy', bgame, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bgame', new_bgame_path %>
