<%= form_for [:admin, @bgame] do |f| %>

    <div class="control-group">
      <label class="control-label">game_id</label>
      <div class="controls">
        <%= f.select :game_id, Material.get_games_for_select,  required: true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">ibeacon id</label>
      <div class="controls">
        <%= f.select :beaconid, Ibeacon.get_ibeacons_for_select, required: true %>    
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">remark</label>
      <div class="controls">
        <%= f.text_field :remark %>
      </div>
    </div>
     

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls">
        <%= f.select :state, Admin::BgamesController::State, required: true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <%= f.submit %>
      </div>
    </div>

<% end %>
