<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="#"><%= current_user.name %></a></li>
          <li><%= link_to '退出', admin_session_path(current_user), method: :delete %></li>
        </ul>
        <ul class="nav">
          <li class="<%= controller_name.in?(['users']) ? 'active' : '' %>"> 
            <%= link_to '用户管理', [:admin,:users] %> 
          </li>
          <li class="<%= controller_name.in?(['categories']) ? 'active' : '' %>"> 
            <%= link_to '模板管理', [:admin,:categories] %> 
          </li>
          <li class="<%= controller_name.in?(['materials']) ? 'active' : '' %>"> 
            <%= link_to '应用管理', [:admin,:materials] %> 
          </li>
          <li class="<%= controller_name.in?(['wcards']) ? 'active' : '' %>">
            <%= link_to '微卡微秀管理', [:admin, :wcards] %>
          </li>
          
          <li class="<%= controller_name.in?(['wshows']) ? 'active' : '' %>">
            <%= link_to '页面管理', [:admin,:wshows] %>
          </li> 

          <li class="<%= controller_name.in?(['ibeacons']) ? 'active' : '' %>">
            <%= link_to 'ibeacon管理', [:admin,:ibeacons] %>
          </li>


          <li class="<%= controller_name.in?(['burls']) ? 'active' : '' %>">
            <%= link_to 'burl管理', [:admin, :burls] %>
          </li>


          <li class="<%= controller_name.in?(['cards']) ? 'active' : '' %>">
            <%= link_to '卡券管理', [:admin, :cards] %>
          </li>


          <li class="<%= controller_name.in?(['redpacks']) ? 'active' : '' %>">
            <%= link_to '红包管理', [:admin, :redpacks] %>
          </li> 

          <li class="<%= controller_name.in?(['bgames']) ? 'active' : '' %>">
            <%= link_to '游戏管理', [:admin, :bgames] %>
          </li>


          <li class="<%= controller_name.in?(['records']) ? 'active' : '' %>">
            <%= link_to '用户活动', [:admin,:records] %>
          </li> 


          <li class="<%= controller_name.in?(['ads']) ? 'active' : ''%>">
            <%= link_to '广告管理', [:admin,:ads] %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
