<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="#"><%= current_user.name %></a></li>
          <li><%= link_to '退出', admin_session_path(current_user), method: :delete %></li>
        </ul>
        <ul class="nav">
          <li class="<%= controller_name.in?(['users']) ? 'active' : '' %>"> 
            <%= link_to '用户管理', [:admin,:users] %> 
          </li>
          <li class="<%= controller_name.in?(['categories']) ? 'active' : '' %>"> 
            <%= link_to '分类管理', [:admin,:categories] %> 
          </li>
          <li class="<%= controller_name.in?(['materials']) ? 'active' : '' %>"> 
            <%= link_to '素材管理', [:admin,:materials] %> 
          </li>
          <li class="<%= controller_name.in?(['wcards']) ? 'active' : '' %>">
            <%= link_to '微卡管理', [:admin, :wcards] %>
          </li>
          
          <li class="<%= controller_name.in?(['wshows']) ? 'active' : '' %>">
            <%= link_to '微秀管理', [:admin,:wshows] %>
          </li> 


          <li class="<%= controller_name.in?(['ads']) ? 'active' : ''%>">
            <%= link_to '广告管理', [:admin,:ads] %>
          </li>
          <li class="<%= controller_name.in?(['banners']) ? 'active' : ''%>">
            <%= link_to 'App Banner管理', [:admin,:banners] %>
          </li>
          <li class="<%= controller_name.in?(['domains']) ? 'active' : ''%>">
            <%= link_to '域名管理', [:admin,:domains] %>
          </li>
          <li class="<%= controller_name.in?(['weixins']) ? 'active' : ''%>">
            <%= link_to '微信管理', [:admin,:weixins] %>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
