<% unless @records.blank? %>

<table class="table">

  <tr>
    <th>ID</th>
    <th>ibeacon </th>
    <th>user name</th>
    <th>app name</th>
    <th>qr</th>
    <th>score</th>
    <th>allocation</th>
    <th>remark</th>
    <th>反馈</th>
    <th>object type</th>
    <th>object id</th>
    <th>created at</th>
  </tr>

  <% @records.each do |r| %>
  <tr>
    <td><%= r.id %></td>
    <td><%= link_to r.beacon_name, "/admin/records?beaconid=#{r.beaconid}" %></td>
    <td><%= link_to r.user_name, "/admin/records?user_id=#{r.user_id}" %></td>
    <td><%= link_to r.app_name, "/admin/records?game_id=#{r.game_id}" %></td>
    <td><img src="<%= r.get_qr_img %>" width='100px'></td>
    <td><%= r.score %></td>
    <td><%= r.allocation%></td>
    <td><%= r.remark %></td>
    <td><%= r.feedback %></td>
    <td><%= r.object_type %></td>
    <td><%= r.object_id %></td>
    <td><%= r.created_at %></td>
  </tr>
  <% end %>
</table>

<%= paginate @records %>
<% end %>
