<% unless @scores.blank? %>

<table class="table">

  <tr>
    <th>ID</th>
    <th>ibeacon </th>
    <th>user name</th>
    <th>app name</th>
    <th>score</th>
    <th>remark</th>
    <th>created at
  </tr>

  <% @scores.each do |r| %>
  <tr>
    <td><%= r.id %></td>
    <td><%= link_to r.beacon_name, "/admin/scores?beaconid=#{r.beaconid}" %></td>
    <td><%= link_to r.user_name, "/admin/scores?user_id=#{r.user_id}" %></td>
    <td><%= link_to r.app_name, "/admin/scores?game_id=#{r.game_id}" %></td>
    <td><%= r.value %></td>
    <td><%= r.remark %></td>
     <td><%= r.created_at %></td>
  </tr>
  <% end %>
</table>

<%#= paginate @scores %>
<% end %>
