<%= form_for [:admin, @redpack] do |f| %>

    <div class="control-group">
      <label class="control-label">sender_name</label>
      <div class="controls">
        <%= f.text_field :sender_name, required: true, style: "width:500px" %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">wishing</label>
      <div class="controls">
        <%= f.text_field :wishing, style: "width:500px" %>
      </div>
    </div>
  
    <div class="control-group">
      <label class="control-label">action_title</label>
      <div class="controls">
        <%= f.text_field :action_title %>
      </div>
    </div> 

    <div class="control-group">
      <label class="control-label">action_remark</label>
      <div class="controls">
        <%= f.text_field :action_remark %>
      </div>
    </div>
    

    <div class="control-group">
      <label class="control-label">ibeacon</label>
      <div class="controls">
        <%= f.select :beaconid, Ibeacon.get_ibeacons_for_select, required: true %>    
      </div>
    </div>


    <div class="control-group">
      <label class="control-label">store</label>
      <div class="controls">
        <%= f.text_field :store, required: true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">app id</label>
      <div class="controls">
        <%= f.text_field :app_id %>
      </div>
    </div>
     

    <div class="control-group">
      <label class="control-label">shop_id</label>
      <div class="controls">
        <%= f.text_field :shop_id %>
      </div>
    </div>

   <div class="control-group">
      <label class="control-label">min</label>
      <div class="controls">
        <%= f.text_field :min %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">max</label>
      <div class="controls">
        <%= f.text_field :max %>
      </div>
    </div>
   
    <div class="control-group">
      <label class="control-label">suc url</label>
      <div class="controls">
        <%= f.text_field :suc_url %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">fail url</label>
      <div class="controls">
        <%= f.text_field :fail_url %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">amount</label>
      <div class="controls">
        <%= f.text_field :amount %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">probability</label>
      <div class="controls">
        <%= f.text_field :probability %>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">each_max</label>
      <div class="controls">
        <%= f.text_field :each_max %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">each_num</label>
      <div class="controls">
        <%= f.text_field :each_num %>
      </div>
    </div>



<div class="control-group">
                <label class="control-label">start_time</label>
               <div class="controls input-append date form_datetime"  data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input1">
                    
                    <%= f.text_field :start_time %>
                    <span class="add-on"><i class="icon-remove"></i></span>
          <span class="add-on"><i class="icon-th"></i></span>

                </div>
        <input type="hidden" id="dtp_input1" value="" /><br/>
            </div>

    <div class="control-group">
      <label class="control-label">end_time</label>
               <div class="controls input-append date form_datetime"  data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="dtp_input2">
      
        <%= f.text_field :end_time %>
        <span class="add-on"><i class="icon-remove"></i></span>
          <span class="add-on"><i class="icon-th"></i></span>
      </div>
      <input type="hidden" id="dtp_input2" value="" /><br/>
    </div>

    <div class="control-group">
      <label class="control-label">password</label>
      <div class="controls">
        <%= f.text_field :password %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">virtual_num</label>
      <div class="controls">
        <%= f.text_field :virtual_num %>
      </div>
    </div>




<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    forceParse: 0,
        showMeridian: 1
    });
</script>

    <div class="control-group">
      <label class="control-label">State</label>
      <div class="controls">
        <%= f.select :state, Admin::RedpacksController::State, required: true %>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"></label>
      <div class="controls">
        <%= f.submit %>
      </div>
    </div>

<% end %>
