<!DOCTYPE html>
<html>
  <head>
    <title>玩会儿 - 微信测试 微信游戏 微信刮刮卡 </title>
    <%= favicon_link_tag 'shangjieba-icon.png' %>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="玩会儿,微信测试,微信游戏,微测试,微游戏,小游戏,名字,唐朝,刮刮卡,转盘">
    <meta name="description" content="玩会儿,微信游戏,微信测试"> 
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;} 
      h1.blogtitle a,.description { color:#444; }
    </style>
  </head>
  <body class="home blog paged paged-2 asides"> 
    <%= render 'shared/nav' %>
    <div id="wrapperheader" class="container_15">
      <div id="header">
        <div class="headertop">
          <div id="blog-title" class="blogtitle"> 
            <%= link_to '玩会儿', '/' %>
          </div>
          <!--<div class="description">Just another WordPress site </div> --!>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="wrapper" class="container_15">	
      <div class="clear"></div>		
      <div id="container" class="">
        <%= yield %>
      </div>
      <div id="primary" class="sidebar alpha grid_5 pull_10">
        <ul class="">
          <li id="search-3" class="widget widget_search"><div class="widgetblock">
            <!--<div class="widgettitleb"><h3 class="widgettitle">游戏搜索</h3></div>
            <form role="search" action="/" class="search-form" >
              <label>
                <span class="screen-reader-text">Search for:</span>
                <input type="search" name="q" class="search-field", placeholder="搜索 ..."/>
              </label>
              <input type="submit" class="search-submit", value="搜索"/>
            </form> --!>
          </li>
          <div class="widgetblock"> 
            <div class="widgettitleb"> 
              <h3 class="widgettitle">
                【测试】你在唐朝长啥样？上街吧
              </h3> 
            </div>
            <ul class="wpinstagram wpinstagram-slideshow live" style="width: 300px; height: 300px;">
              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
                <%= link_to "http://m.shangjieba.com/games/info/tc_r?fr=whr" do %>
                  <%= image_tag "http://mashang.qiniudn.com/tc.jpg", style:"width:300px; height:300px; margin-bottom:5px;" %>
                <% end %>
              </li>
            </ul>
            <div style="clear: both; padding-bottom: 10px;"></div>
          </div> 
          <li id="recent-posts-2" class="widget widget_recent_entries"> 
            <div class="widgetblock">		
              <div class="widgettitleb"> 
                <h3 class="widgettitle">最新公告</h3> 
              </div>
              <ul>
                <li>
                  <%= link_to 'http://www.shangjieba.com?fr=wan' do %>
                    上街吧3.0, android和ios隆重登场, 全新改版, 推出搭配DIY和时尚圈，让你马上爽起来 !
                  <% end %>
                </li>
              </ul>
            </div> 
          </li>
        </ul>
      </div>
    </div>
    <%#= render 'shared/mobileonfooter' %>
    <%= render 'shared/footer' %>
    <div style="display: none;">
      <script src="http://s5.cnzz.com/stat.php?id=2814783&web_id=2814783" language="JavaScript"></script>
    </div>
  </body>
</html>
