<!DOCTYPE html>
<html>
  <head profile="http://gmpg.org/xfn/11">
    <title>ShuWei Game</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name='robots' content='noindex,nofollow' />
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style type="text/css">
      .recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;} 
      h1.blogtitle a,.description { color:#444; }
    </style>
  </head>
  <body class="home blog paged paged-2 asides"> 
    <%= render 'shared/nav' %>
    <div id="wrapperheader" class="container_15">
      <div id="header">
        <div class="headertop">
          <div id="blog-title" class="blogtitle"> 
            <%= link_to '玩会儿', '/' %>
          </div>
          <div class="description">Just another WordPress site </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div id="wrapper" class="container_15">	
      <div class="clear"></div>		
      <div id="container" class="">
        <%= yield %>
      </div>
      <div id="primary" class="sidebar alpha grid_5 pull_10">
        <ul class="">
          <li id="search-3" class="widget widget_search"><div class="widgetblock">
            <div class="widgettitleb"><h3 class="widgettitle">游戏搜索</h3></div>
            <%= search_form_for @q, role: 'search', html: {class: 'search-form'} do |f| %>
              <label>
                <span class="screen-reader-text">Search for:</span>
                <%= f.search_field :title_matches, class: 'search-field', placeholder: "搜索 ..." %>
              </label>
              <%= f.submit '搜索', class: 'search-submit' %>
            <% end %>
          </div> 
        </li>
          <div class="widgetblock"> 
            <div class="widgettitleb"> 
              <h3 class="widgettitle">
                My Instagrams 
              </h3> 
            </div>
            <ul class="wpinstagram wpinstagram-slideshow live" style="width: 300px; height: 300px;">
              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-636274069431550184_30759255"
                data-user-url="http://ink361.com/app/photo/ig-636274069431550184_30759255"
                data-original="http://distilleryimage8.s3.amazonaws.com/7d4c8348806e11e3852c0e82256d50e4_8.jpg"
                title="henrilabarre: &quot;#papiertigre&quot;"
                rel="636274069431550184_30759255" 
                data-onclick="http://ink361/com/app/photo/ig-636274069431550184_30759255">

                <img src="http://distilleryimage8.s3.amazonaws.com/7d4c8348806e11e3852c0e82256d50e4_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-636274069431550184_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-636274069431550184_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-636216704439059113_30759255"
                data-user-url="http://ink361.com/app/photo/ig-636216704439059113_30759255"
                data-original="http://distilleryimage4.s3.amazonaws.com/97acf8c2805e11e39a0b0a985b09a160_8.jpg"
                title="henrilabarre: &quot;#paris&quot;"
                rel="636216704439059113_30759255"
                data-onclick="http://ink361/com/app/photo/ig-636216704439059113_30759255"
                >

                <img src="http://distilleryimage4.s3.amazonaws.com/97acf8c2805e11e39a0b0a985b09a160_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-636216704439059113_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-636216704439059113_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-636195995012726976_30759255"
                data-user-url="http://ink361.com/app/photo/ig-636195995012726976_30759255"
                data-original="http://distilleryimage3.s3.amazonaws.com/cf9effd8805811e399df12cd97da4603_8.jpg"
                title="henrilabarre: &quot;#paris #louvre #lion&quot;"
                rel="636195995012726976_30759255"
                data-onclick="http://ink361/com/app/photo/ig-636195995012726976_30759255"
                >

                <img src="http://distilleryimage3.s3.amazonaws.com/cf9effd8805811e399df12cd97da4603_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-636195995012726976_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-636195995012726976_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-636193504829276292_30759255"
                data-user-url="http://ink361.com/app/photo/ig-636193504829276292_30759255"
                data-original="http://distilleryimage2.s3.amazonaws.com/26761efa805811e3b89c1203f21acad2_8.jpg"
                title="henrilabarre: &quot;#paris&quot;"
                rel="636193504829276292_30759255"
                data-onclick="http://ink361/com/app/photo/ig-636193504829276292_30759255"
                >

                <img src="http://distilleryimage2.s3.amazonaws.com/26761efa805811e3b89c1203f21acad2_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-636193504829276292_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-636193504829276292_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-624606720584483564_30759255"
                data-user-url="http://ink361.com/app/photo/ig-624606720584483564_30759255"
                data-original="http://distilleryimage6.s3.amazonaws.com/2604987673c811e3aba90e9c9ad3415e_8.jpg"
                title="henrilabarre: &quot;#bird #eames #design&quot;"
                rel="624606720584483564_30759255"
                data-onclick="http://ink361/com/app/photo/ig-624606720584483564_30759255"
                >

                <img src="http://distilleryimage6.s3.amazonaws.com/2604987673c811e3aba90e9c9ad3415e_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-624606720584483564_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-624606720584483564_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-623052272707994357_30759255"
                data-user-url="http://ink361.com/app/photo/ig-623052272707994357_30759255"
                data-original="http://distilleryimage3.s3.amazonaws.com/b77768ee721811e3acc80e17087b459f_8.jpg"
                title="henrilabarre: &quot;Message sur ma ceinture, sympa&quot;"
                rel="623052272707994357_30759255"
                data-onclick="http://ink361/com/app/photo/ig-623052272707994357_30759255"
                >

                <img src="http://distilleryimage3.s3.amazonaws.com/b77768ee721811e3acc80e17087b459f_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-623052272707994357_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-623052272707994357_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-621523439085322819_30759255"
                data-user-url="http://ink361.com/app/photo/ig-621523439085322819_30759255"
                data-original="http://distilleryimage5.s3.amazonaws.com/63adbb86707011e3a9890e59466a27ed_8.jpg"
                title="Instagram by henrilabarre"
                rel="621523439085322819_30759255"
                data-onclick="http://ink361/com/app/photo/ig-621523439085322819_30759255"
                >

                <img src="http://distilleryimage5.s3.amazonaws.com/63adbb86707011e3a9890e59466a27ed_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-621523439085322819_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-621523439085322819_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-621519138388607521_30759255"
                data-user-url="http://ink361.com/app/photo/ig-621519138388607521_30759255"
                data-original="http://distilleryimage11.s3.amazonaws.com/288de5e0706f11e388e70eb3a58c3a0f_8.jpg"
                title="Instagram by henrilabarre"
                rel="621519138388607521_30759255"
                data-onclick="http://ink361/com/app/photo/ig-621519138388607521_30759255"
                >

                <img src="http://distilleryimage11.s3.amazonaws.com/288de5e0706f11e388e70eb3a58c3a0f_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-621519138388607521_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-621519138388607521_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-620815080715616595_30759255"
                data-user-url="http://ink361.com/app/photo/ig-620815080715616595_30759255"
                data-original="http://distilleryimage6.s3.amazonaws.com/ceabb64c6fab11e3a15f1231816043ea_8.jpg"
                title="Instagram by henrilabarre"
                rel="620815080715616595_30759255"
                data-onclick="http://ink361/com/app/photo/ig-620815080715616595_30759255"
                >

                <img src="http://distilleryimage6.s3.amazonaws.com/ceabb64c6fab11e3a15f1231816043ea_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-620815080715616595_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-620815080715616595_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-620811459202548023_30759255"
                data-user-url="http://ink361.com/app/photo/ig-620811459202548023_30759255"
                data-original="http://distilleryimage1.s3.amazonaws.com/c89c20446faa11e39139123955c862d9_8.jpg"
                title="Instagram by henrilabarre"
                rel="620811459202548023_30759255"
                data-onclick="http://ink361/com/app/photo/ig-620811459202548023_30759255"
                >

                <img src="http://distilleryimage1.s3.amazonaws.com/c89c20446faa11e39139123955c862d9_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-620811459202548023_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-620811459202548023_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-559106254845412297_30759255"
                data-user-url="http://ink361.com/app/photo/ig-559106254845412297_30759255"
                data-original="http://distilleryimage1.s3.amazonaws.com/2bce40902cc411e3bb6b22000a9f3c09_8.jpg"
                title="henrilabarre: &quot;Huge ce galaxy note 3 #note3&quot;"
                rel="559106254845412297_30759255"
                data-onclick="http://ink361/com/app/photo/ig-559106254845412297_30759255"
                >

                <img src="http://distilleryimage1.s3.amazonaws.com/2bce40902cc411e3bb6b22000a9f3c09_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-559106254845412297_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-559106254845412297_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-555767411232637632_30759255"
                data-user-url="http://ink361.com/app/photo/ig-555767411232637632_30759255"
                data-original="http://distilleryimage0.s3.amazonaws.com/74b22ac6292511e3986822000aa8062e_8.jpg"
                title="henrilabarre: &quot;#jaguar #typee&quot;"
                rel="555767411232637632_30759255"
                data-onclick="http://ink361/com/app/photo/ig-555767411232637632_30759255"
                >

                <img src="http://distilleryimage0.s3.amazonaws.com/74b22ac6292511e3986822000aa8062e_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-548514388676608885_30759255"
                data-user-url="http://ink361.com/app/photo/ig-548514388676608885_30759255"
                data-original="http://distilleryimage1.s3.amazonaws.com/56735088214811e3ab8e22000ab5bda6_7.jpg"
                title="henrilabarre: &quot;#nokia dual sim&quot;"
                rel="548514388676608885_30759255"
                data-onclick="http://ink361/com/app/photo/ig-548514388676608885_30759255"
                >

                <img src="http://distilleryimage1.s3.amazonaws.com/56735088214811e3ab8e22000ab5bda6_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-548514388676608885_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-548514388676608885_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-530283219308937591_30759255"
                data-user-url="http://ink361.com/app/photo/ig-530283219308937591_30759255"
                data-original="http://distilleryimage3.s3.amazonaws.com/2bf490d80d8411e3b5f422000a1f9a34_7.jpg"
                title="henrilabarre: &quot;#belleile&quot;"
                rel="530283219308937591_30759255"
                data-onclick="http://ink361/com/app/photo/ig-530283219308937591_30759255"
                >

                <img src="http://distilleryimage3.s3.amazonaws.com/2bf490d80d8411e3b5f422000a1f9a34_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              </li>
              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-530138167752425746_30759255"
                data-user-url="http://ink361.com/app/photo/ig-530138167752425746_30759255"
                data-original="http://distilleryimage10.s3.amazonaws.com/e96c084a0d5b11e386bb22000ae902bb_7.jpg"
                title="henrilabarre: &quot;#ecole&quot;"
                rel="530138167752425746_30759255"
                data-onclick="http://ink361/com/app/photo/ig-530138167752425746_30759255">

                <img src="http://distilleryimage10.s3.amazonaws.com/e96c084a0d5b11e386bb22000ae902bb_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-530138167752425746_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-530138167752425746_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-523109194161881440_30759255"
                data-user-url="http://ink361.com/app/photo/ig-523109194161881440_30759255"
                data-original="http://distilleryimage4.s3.amazonaws.com/facd658005bc11e3b66b22000aa8003c_7.jpg"
                title="henrilabarre: &quot;#barcelona #gaudi #perdrera #casamila&quot;"
                rel="523109194161881440_30759255"
                data-onclick="http://ink361/com/app/photo/ig-523109194161881440_30759255"
                >

                <img src="http://distilleryimage4.s3.amazonaws.com/facd658005bc11e3b66b22000aa8003c_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-523109194161881440_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-523109194161881440_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-523089700899160955_30759255"
                data-user-url="http://ink361.com/app/photo/ig-523089700899160955_30759255"
                data-original="http://distilleryimage11.s3.amazonaws.com/91bb07e605b711e3ae7222000aaa0519_7.jpg"
                title="henrilabarre: &quot;#barcelona #casamila #perdrera #gaudi&quot;"
                rel="523089700899160955_30759255"
                data-onclick="http://ink361/com/app/photo/ig-523089700899160955_30759255">

                <img src="http://distilleryimage11.s3.amazonaws.com/91bb07e605b711e3ae7222000aaa0519_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-523089700899160955_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-523089700899160955_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-522953233606542100_30759255"
                data-user-url="http://ink361.com/app/photo/ig-522953233606542100_30759255"
                data-original="http://distilleryimage4.s3.amazonaws.com/b125274a059111e39ff222000aa8009c_7.jpg"
                title="henrilabarre: &quot;#barcelona #gracia #15aout&quot;"
                rel="522953233606542100_30759255"
                data-onclick="http://ink361/com/app/photo/ig-522953233606542100_30759255"
                >

                <img src="http://distilleryimage4.s3.amazonaws.com/b125274a059111e39ff222000aa8009c_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-522953233606542100_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-522953233606542100_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-522918006536438155_30759255"
                data-user-url="http://ink361.com/app/photo/ig-522918006536438155_30759255"
                data-original="http://distilleryimage7.s3.amazonaws.com/ea1c2260058711e3893922000aeb0bbd_7.jpg"
                title="henrilabarre: &quot;#barcelona #15aout&quot;"
                rel="522918006536438155_30759255"
                data-onclick="http://ink361/com/app/photo/ig-522918006536438155_30759255"
                >

                <img src="http://distilleryimage7.s3.amazonaws.com/ea1c2260058711e3893922000aeb0bbd_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-522918006536438155_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-522918006536438155_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-522495244181341068_30759255"
                data-user-url="http://ink361.com/app/photo/ig-522495244181341068_30759255"
                data-original="http://distilleryimage0.s3.amazonaws.com/9307b446051211e3822f22000a9f09ca_7.jpg"
                title="henrilabarre: &quot;#shop #design #vinçon&quot;"
                rel="522495244181341068_30759255"
                data-onclick="http://ink361/com/app/photo/ig-522495244181341068_30759255"
                >

                <img src="http://distilleryimage0.s3.amazonaws.com/9307b446051211e3822f22000a9f09ca_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-522495244181341068_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-522495244181341068_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-522494349192364921_30759255"
                data-user-url="http://ink361.com/app/photo/ig-522494349192364921_30759255"
                data-original="http://distilleryimage1.s3.amazonaws.com/536d9e90051211e3b9a022000a1fa535_7.jpg"
                title="henrilabarre: &quot;#barcelona&quot;"
                rel="522494349192364921_30759255"
                data-onclick="http://ink361/com/app/photo/ig-522494349192364921_30759255"
                >

                <img src="http://distilleryimage1.s3.amazonaws.com/536d9e90051211e3b9a022000a1fa535_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-522494349192364921_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-522494349192364921_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-522493590887367528_30759255"
                data-user-url="http://ink361.com/app/photo/ig-522493590887367528_30759255"
                data-original="http://distilleryimage0.s3.amazonaws.com/1d90455c051211e39a5b22000a9f15d6_7.jpg"
                title="henrilabarre: &quot;#stones #homemade #childs&quot;"
                rel="522493590887367528_30759255"
                data-onclick="http://ink361/com/app/photo/ig-522493590887367528_30759255"
                >

                <img src="http://distilleryimage0.s3.amazonaws.com/1d90455c051211e39a5b22000a9f15d6_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-522493590887367528_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-522493590887367528_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-522492644862100303_30759255"
                data-user-url="http://ink361.com/app/photo/ig-522492644862100303_30759255"
                data-original="http://distilleryimage7.s3.amazonaws.com/da564250051111e386be22000a9f139c_7.jpg"
                title="henrilabarre: &quot;#beach #barcelona&quot;"
                rel="522492644862100303_30759255"
                data-onclick="http://ink361/com/app/photo/ig-522492644862100303_30759255"
                >

                <img src="http://distilleryimage7.s3.amazonaws.com/da564250051111e386be22000a9f139c_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-522492644862100303_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-522492644862100303_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-521611412313899159_30759255"
                data-user-url="http://ink361.com/app/photo/ig-521611412313899159_30759255"
                data-original="http://distilleryimage11.s3.amazonaws.com/42fff5bc041d11e39b9b22000a1f96c5_7.jpg"
                title="henrilabarre: &quot;#barcelona #sagradafamilia #architecture&quot;"
                rel="521611412313899159_30759255"
                data-onclick="http://ink361/com/app/photo/ig-521611412313899159_30759255"
                >

                <img src="http://distilleryimage11.s3.amazonaws.com/42fff5bc041d11e39b9b22000a1f96c5_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">
              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-521611412313899159_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-521611412313899159_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-521428808541307784_30759255"
                data-user-url="http://ink361.com/app/photo/ig-521428808541307784_30759255"
                data-original="http://distilleryimage8.s3.amazonaws.com/943abc7e03ea11e39dc922000a1fbb59_7.jpg"
                title="henrilabarre: &quot;#barcelona #guell #architecture #gaudi&quot;"
                rel="521428808541307784_30759255"
                data-onclick="http://ink361/com/app/photo/ig-521428808541307784_30759255">
                <img src="http://distilleryimage8.s3.amazonaws.com/943abc7e03ea11e39dc922000a1fbb59_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">
              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-521428808541307784_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-521428808541307784_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-520202173615866277_30759255"
                data-user-url="http://ink361.com/app/photo/ig-520202173615866277_30759255"
                data-original="http://distilleryimage1.s3.amazonaws.com/1e929a28029611e3b5b422000a1fb5b4_7.jpg"
                title="henrilabarre: &quot;#beach #palafrugel&quot;"
                rel="520202173615866277_30759255"
                data-onclick="http://ink361/com/app/photo/ig-520202173615866277_30759255">

                <img src="http://distilleryimage1.s3.amazonaws.com/1e929a28029611e3b5b422000a1fb5b4_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-520202173615866277_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-520202173615866277_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-519305781066236654_30759255"
                data-user-url="http://ink361.com/app/photo/ig-519305781066236654_30759255"
                data-original="http://distilleryimage2.s3.amazonaws.com/520e353c019d11e3b57222000a9e07e9_7.jpg"
                title="henrilabarre: &quot;#beach #catalogne #tossadelmar&quot;"
                rel="519305781066236654_30759255"
                data-onclick="http://ink361/com/app/photo/ig-519305781066236654_30759255">

                <img src="http://distilleryimage2.s3.amazonaws.com/520e353c019d11e3b57222000a9e07e9_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-519305781066236654_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-519305781066236654_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-518608053042578129_30759255"
                data-user-url="http://ink361.com/app/photo/ig-518608053042578129_30759255"
                data-original="http://distilleryimage5.s3.amazonaws.com/a97f52f000db11e38e1522000a1f9a99_7.jpg"
                title="henrilabarre: &quot;#girona #catalogne&quot;"
                rel="518608053042578129_30759255"
                data-onclick="http://ink361/com/app/photo/ig-518608053042578129_30759255"
                >

                <img src="http://distilleryimage5.s3.amazonaws.com/a97f52f000db11e38e1522000a1f9a99_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-518608053042578129_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-518608053042578129_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-515307855562309651_30759255"
                data-user-url="http://ink361.com/app/photo/ig-515307855562309651_30759255"
                data-original="http://distilleryimage7.s3.amazonaws.com/ac562d60fd4711e2869422000a1deb63_7.jpg"
                title="henrilabarre: &quot;# beach&quot;"
                rel="515307855562309651_30759255"
                data-onclick="http://ink361/com/app/photo/ig-515307855562309651_30759255"
                >

                <img src="http://distilleryimage7.s3.amazonaws.com/ac562d60fd4711e2869422000a1deb63_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-515307855562309651_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-515307855562309651_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-512888959500714492_30759255"
                data-user-url="http://ink361.com/app/photo/ig-512888959500714492_30759255"
                data-original="http://distilleryimage0.s3.amazonaws.com/4b75bf34faa811e2892122000a9f13f9_7.jpg"
                title="henrilabarre: &quot;#beach #sun #letouquet&quot;"
                rel="512888959500714492_30759255"
                data-onclick="http://ink361/com/app/photo/ig-512888959500714492_30759255"
                >

                <img src="http://distilleryimage0.s3.amazonaws.com/4b75bf34faa811e2892122000a9f13f9_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-512888959500714492_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-512888959500714492_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-510054920683159591_30759255"
                data-user-url="http://ink361.com/app/photo/ig-510054920683159591_30759255"
                data-original="http://distilleryimage7.s3.amazonaws.com/b0e32c00f79511e2996722000a9f18fe_7.jpg"
                title="henrilabarre: &quot;#beach&quot;"
                rel="510054920683159591_30759255"
                data-onclick="http://ink361/com/app/photo/ig-510054920683159591_30759255"
                >

                <img src="http://distilleryimage7.s3.amazonaws.com/b0e32c00f79511e2996722000a9f18fe_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-510054920683159591_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-510054920683159591_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-509931813498683482_30759255"
                data-user-url="http://ink361.com/app/photo/ig-509931813498683482_30759255"
                data-original="http://distilleryimage10.s3.amazonaws.com/85990e92f77311e2b78a22000a9f193c_7.jpg"
                title="henrilabarre: &quot;#gand #gent #castle&quot;"
                rel="509931813498683482_30759255"
                data-onclick="http://ink361/com/app/photo/ig-509931813498683482_30759255"
                >

                <img src="http://distilleryimage10.s3.amazonaws.com/85990e92f77311e2b78a22000a9f193c_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              <div class="social">
                <a class="facebook" href="javascript:fbshare('http://ink361.com/app/photo/ig-509931813498683482_30759255');"></a>
                <a class="twitter" href="javascript:twtshare('http://ink361.com/app/photo/ig-509931813498683482_30759255');"></a>
              </div>
              </li>

              <li style="width: 300px; height: 300px; margin-bottom: 5px !important;">
              <a class="mainI" href="http://ink361.com/app/photo/ig-509924261453004824_30759255"
                data-user-url="http://ink361.com/app/photo/ig-509924261453004824_30759255"
                data-original="http://distilleryimage8.s3.amazonaws.com/6cfdae80f77111e29fd422000a1fbad8_7.jpg"
                title="henrilabarre: &quot;#gent #gand&quot;"
                rel="509924261453004824_30759255"
                data-onclick="http://ink361/com/app/photo/ig-509924261453004824_30759255"
                >

                <img src="http://distilleryimage8.s3.amazonaws.com/6cfdae80f77111e29fd422000a1fbad8_6.jpg" style="width: 300px; height: 300px; margin-bottom: 5px;">

              </a>
              </li>
            </ul>
            <div style="clear: both; padding-bottom: 10px;"></div>
            <script>
              jQuery(document).ready(function($) {
                $("ul.wpinstagram-slideshow").cycle({ fx : "fade", timeout : 1000 });
              });
            </script>
            </div><script>
            function fbshare(page) {
              window.open('https://www.facebook.com/sharer/sharer.php?u=' + escape(page), 'Share on Facebook', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=626, height=436, top=' + ((screen.height / 2) - 313) + ', left=' + ((screen.width/2) - 218));
            }

            function twtshare(page) {
              window.open('https://www.twitter.com/share?text=' + escape('Sharing this amazing #instagram #ink361 photo with you!') + '&via=http://ink361.com&url=' + escape(page), 'Share on Facebook', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=626, height=436, top=' + ((screen.height / 2) - 313) + ', left=' + ((screen.width/2) - 218));  
            }
          </script>

          <li id="recent-posts-2" class="widget widget_recent_entries"> 
          <div class="widgetblock">		
            <div class="widgettitleb"> 
              <h3 class="widgettitle">Recent Posts</h3> 
            </div>
            <ul>
              <li>
              <a href="http://codiumgrid.allolesparents.fr/demo/a-again-a-post-sorry/">A again a post, sorry! With lot of categories</a>
              </li>
            </ul>
          </div> 
          </li>
          <li id="recent-comments-2" class="widget widget_recent_comments"><div class="widgetblock">
            <div class="widgettitleb"><h3 class="widgettitle">Recent Comments</h3></div>
            <ul id="recentcomments"><li class="recentcomments">admin1310 on <a href="http://codiumgrid.allolesparents.fr/demo/a-post-with-comment/#comment-5">A post with comment</a></li></ul>
          </div></li>
        </ul>
      </div><!-- #primary .sidebar -->

      <div id="secondary" class="sidebar alpha grid_5 pull_10">
        <ul class="">
          <li id="meta-2" class="widget widget_meta"> 
          <div class="widgetblock">
            <div class="widgettitleb"><h3 class="widgettitle">Meta</h3></div>
            <ul>
              <li><a href="http://codiumgrid.allolesparents.fr/demo/wp-login.php">Log in</a></li>
              <li><a href="http://codiumgrid.allolesparents.fr/demo/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
              <li><a href="http://codiumgrid.allolesparents.fr/demo/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
              <li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>	 
            </ul>
          </div> 
          </li>
        </ul>
      </div><!-- #secondary .sidebar --> 
    </div>
    <%= render 'shared/mobileonfooter' %>
    <%= render 'shared/footer' %>
  </body>
</html>
